body{
    background-image: url(../images/aboutusbckg.png);
    background-repeat: no-repeat;
    }

h1 {
    font-size: 60px; 
    text-align: center;
    color: gold;
    }

.tab {
        overflow: hidden; 
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

.tab button {
    background-color: inherit; 
    float: left; 
    border; none; 
    outline; none; 
    cursor; pointer; 
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd; 
}
.tab button.active{
    background-color: #ccc;
}


h3{ 
    font-size: 25px;
    color: white;
    }
iframe {
    float: right; 
}

p{ color: gold; 
    text-align: left;
    float: left; }