body{
    background-image:url(../images/coffeebckgrnd-100.jpg); 
    background-repeat: no-repeat;
    background-size:contain;
    }

 header { 
    font-size: 60px; 
    font-family: sans-serif; 
    color: white; 
    text-align: center;
    font-weight: bold;
    font-style: italic;
    }

img{ 
    margin-top: -70px;
    margin-left: 900px; 
    }



.juice{
    color: white;
    font-size: 15px; 
    list-style-type:none;
    }

.juice h1 { 
    text-decoration: underline; 
    margin-left: 30px;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 40px;
    }


.juice li {
    color: black;
    font-size: 20px;
    margin-left: 70px;
    text-align: left;
    font-weight: bold;
    }



#coffee h1 { 
    color: white; 
    text-align: center; 
    text-decoration: underline;
    margin-bottom: 5px; 
    font-weight: bold; 
    margin-top: -80px; 
    margin-left: -600px;
    font-size: 28px; 
    }

#coffee li {
    color: black;
    text-align: left; 
    margin-left: 320px; 
    font-size: 20px; 
    font-weight: bold;
    list-style-type: none; 
    }

#flavor li {
    font-size: 20px;
    color: black; 
    text-align: left;
    margin-left: 350px;
    list-style-type: none; 
    }


#milk h1{
    text-align: center; 
    margin-top: -300px;
    text-decoration: underline;
    margin-bottom: 5px;
    color: white; 
    font-size: 28px; 
    }

#milk li{ 
    font-size: 20px; 
    color: black; 
    margin-left: 620px;
    font-weight: bold;
    list-style-type: none; 
    }

#price1 li {
    color: white;
    font-size: 15px; 
    margin-left: 60px;
    margin-top: -50px; 
    font-weight: bold;
    list-style-type: none;
     background-color: #722e0d;
    border-radius: 20px;
    padding: 10px; 
    width: 50px;  
    background-color: #722e0d;
    }

#price2 li {
    color: white; 
    font-size: 15px;
    margin-left: 350px;
    margin-top: 30px; 
    list-style-type: none;
    font-weight: bold;
     background-color: #722e0d;
    border-radius: 20px;
    padding: 10px; 
    width: 90px;  
    background-color: #722e0d;
    }

#price3 li{
    color: white; 
    font-size: white; 
    margin-left: 650px;
    margin-top: 30px;
    font-size: 15px; 
    font-weight: bold;
    list-style-type: none;
    background-color: #722e0d;
    border-radius: 20px;
    padding: 10px; 
    width: 50px;  
    }

h2 {
    font-size: 25px; 
    color: white; 
    font-weight: bold; 
    margin-top: 120px;
    text-align: center; 
}